body{
    background-image: url(img/art-fon.jpg); 
}

canvas {
  display: block;
}

#tsparticlesPhone {
  position: fixed;
  width: 0%;
  height: 0%;
  z-index: 0;
}

#tsparticlesPC {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.center{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    background: repeat-y;
}

h1{
  text-align: center;
  color: aliceblue;
  font-size: 57px;
  margin-top: 20px;
  font-family: 'Oswald', sans-serif;
  text-shadow: rgb(56, 10, 223) 1px 0 10px;
}

#container {
  width:100%;
  text-align:center;
}

#ElonMusk {
  width: 0%;
  height: 0%;
}

.back {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: fliph;
}

@media (min-width: 970px) and (max-width: 1130px) {     /*  Phone  */
  .center {
    width: 85%
  }
  h1{
    font-size: 100px;
  }

  #tsparticlesPhone {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  #tsparticlesPC {
    position: fixed;
    width: 0%;
    height: 0%;
    z-index: 0;
  }


  #ElonMusk {
    width: 30%;
    height: 30%;
    margin-left: 0;
    cursor: pointer;
    transition: margin-left 3s ease-in-out;
  }
  
  
  #ElonMuskRight {
    width: 0%;
    height: 0%;
  }

  #left {
    width: 0%;
    height: 0%;
  }
  
  #right {
    width: 0%;
    height: 0%;
  }
}

@media (min-width: 1130px) {
  .center {
    width: 45%
  }
}

@media (min-width: 1360px) {    /*  PC  */
  .center {
    width: 33%
  }

  #left {
    width: 20%;
    height: 20%;
    margin-right: 9%;
    margin-bottom: 13%;
    transition: margin-left 3s ease-in-out;
  }
  
  #right {
    width: 20%;
    height: 20%;
    margin-left: 9%;
    margin-bottom: 13%;
    transition: margin-left 3s ease-in-out;
  }
}
