body{
    background-image: url(img/art-fon.jpg); 
    
}

canvas {
  display: block;
}

#tsparticlesPhone {
  position: fixed;
  width: 0%;
  height: 0%;
  z-index: 0;
}

#tsparticlesPC {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    background: repeat-y;
}

h1{
  text-align: center;
  color: aliceblue;
  font-size: 57px;
  margin-top: 20px;
  font-family: 'Oswald', sans-serif;
  text-shadow: rgb(56, 10, 223) 1px 0 10px;
}

@media (min-width: 970px) and (max-width: 1130px) {
  .center {
    width: 85%
  }
  h1{
    font-size: 100px;
  }

  #tsparticlesPhone {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  #tsparticlesPC {
    position: fixed;
    width: 0%;
    height: 0%;
    z-index: 0;
  }
}

@media (min-width: 1130px) {
  .center {
    width: 45%
  }
}

@media (min-width: 1360px) {
  .center {
    width: 33%
  }

}
